$ git status

# Untracked files:
data/config
data/logs
data/videos/
data/trajectories/
data/model_config/tmp_compilations
GUI/config
scripts/local/*
logs/
/**/*.asv
README.md
README.md
README.md
README.md
data/model_config/models/SCDM/planar_manipulators/2_DoF_VSD/2_DoF_VSD_bodies.xml
data/model_config/models/SCDM/planar_manipulators/2_DoF_VSD/2_DoF_VSD_cables.xml
README.md
data/model_config/models/SCDM/planar_manipulators/2_DoF_VSD/2_DoF_VSD_cables.xml
src/HardwareInterface/HardwareExperiments/PoCaBotExperiment.m
